{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Inventory Detail</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <h1>Inventory Detail</h1>

        <img src="{% static 'image.png' %}" alt="Inventory Image" class="inventory-image">

        <ul class="inventory-details">
            <li><strong>Name:</strong> {{ inventory.name }}</li>
            <li><strong>Description:</strong> {{ inventory.description|default:"-" }}</li>
            <li><strong>Note:</strong> {{ inventory.note|default:"-"|linebreaks }}</li>
            <li><strong>Stock:</strong> {{ inventory.stock }}</li>
            <li><strong>Availability:</strong> {{ inventory.availability|yesno:"Available,Unavailable" }}</li>
            <li><strong>Supplier Name:</strong> {{ inventory.supplier.name }}</li>
        </ul>

        <a href="{% url 'inventory-viewset-list' %}">Back to Inventory List</a>
    </div>
</body>

</html>