{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Inventory List</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <h1>Inventory List</h1>

        <form method="get" action="">
            {{ form }}
            <button type="submit">Search & Filter</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Supplier Name</th>
                    <th>Availability</th>
                </tr>
            </thead>

            <tbody>
                {% for inventory in inventories %}
                <tr>
                    <td><a href="{% url 'inventory-viewset-detail' inventory.id %}">{{ inventory.name }}</a></td>
                    <td>{{ inventory.supplier_name }}</td>
                    <td>{{ inventory.availability|yesno:"Available,Unavailable" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>